body {
    background-color: rgb(242,240,239);
}

#today_weather {
    font-size: 2.4rem;
}

#today_weather_container {
    margin-top: 1rem;
    border: 2px solid gray;
    font-size: 1.8rem;
}

#today_weather_feelslike {
    font-size: 18px;
}

#main_hourly_container {
    margin-top: 1rem;
    border: 2px solid gray;
    padding: 10px;
}

#hourly_weather_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px;
}

.hour_container {
    border: 1px solid gray;
    padding: 4px;
    text-align: center;
}


#main_sevenDays_container {
    margin-top: 1rem;
    border: 2px solid gray;
    padding: 10px;
}

#sevenDays_weather_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px;
}

.day_container {
    border: 1px solid gray;
    padding: 4px;
    text-align: center; 
}

#form_container {
    font-size: 1.5rem;
}

#location {
    padding: 10px;
    font-size: 1.2rem;
}

#location_btn {
    padding: 10px;
    font-size: 1.2rem;
}

#today_otherInfo_container {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 8px;
}

.otherInfo_container {
    border: 1px solid gray;
    padding: 4px;
    text-align: center; 
}