* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(242,240,239);
}

#main-wrap {
    display: flex;
    justify-content: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* border: 3px solid gray; */
/*     margin-right: 16rem;
    margin-left: 16rem; */
    /* height: 86vh; */
    height: 100%;
}

#main_section {
    display: flex;
    align-items: center;
    gap: 6rem;
}

#form_container {
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    /* align-self: center; */
}

#today_weather_container {
    margin-top: 1rem;
    /* border: 2px solid gray; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#today_otherInfo_container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    align-self: center;
}

#main_hourly_container {
    margin-top: 1rem;
    /* border: 2px solid gray; */
    align-self: flex-start;
}

#hourly_weather_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#main_sevenDays_container {
    margin-top: 1rem;
    /* border: 2px solid gray; */
    align-self: flex-start;
}

#sevenDays_weather_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#today_weather {
    font-size: 3rem;
}

#main_today_weather_icon {
    height: 20rem;
    width: 20rem;
}

#today_weather_feelslike {
    font-size: 18px;
    margin-bottom: 1.2rem;
}

#today_weather_condition {
    font-size: 1.6rem;
}

#minmax_container {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin-left: 8rem; */
}

.hour_container {
    /* border: 1px solid gray; */
    padding: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hourly_weather_icon {
    width: 3rem;
    height: 3rem;
}


.day_container {
    /* border: 1px solid gray; */
    text-align: center; 
    display: flex;
    align-items: center;
}

.nextDays_weather_icon {
    width: 6rem;
    height: 6rem;
}

#location {
    padding: 10px;
    font-size: 1.2rem;
}

#location_btn {
    padding: 10px;
    font-size: 1.2rem;
}

.otherInfo_container {
    padding: 4px;
    text-align: center; 
    display: flex;
    align-items: center;
    gap: 2px;
}

.other_condition_status_icon {
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
}

#menu_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1rem;
  }
  